﻿@model LineM8.Models.FlightLog.FlightLogIndexModel

<div id="flightlog">
    <h3>Flight Log List</h3>
    <div id="flightlogTable">
        <table class="table table-condensed" id="flightlogIndexTable">
            <thead>
                <tr>
                    <th>Airport</th>
                    <th>Airline</th>
                    <th>Aircraft Type</th>
                    <th>Aircraft Registration</th>
                    <th>Arrival Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flightlog in Model.FlightLog)
                {
                 <tr class="flightlogRow">
                    <td class="">@flightlog.AirportID</td>
                    <td class="">@flightlog.AirlineID</td>
                    <td class="">@flightlog.AircraftTypeID</td>
                    <td class="">@flightlog.AircraftIdentityID</td>
                    <td class="">@flightlog.ArrivalDate</td>
                 </tr>
                }
            </tbody>
        </table>
    </div>
</div>
